<h2>Memory Game!</h2>

<table>

    <tr>
    <td><img id="a1" class="stout" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="a2" class="ipa" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="a3" class="porter" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    </tr>

    <tr>
    <td><img id="b1" class="mild" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="b2" class="amber" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="b3" class="stout" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    </tr>

    <tr>
    <td><img id="c1" class="ipa" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="c2" class="porter" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    <td><img id="c3" class="amber" src="assets/memory-game/card-back.jpg" alt="the back of a card" /></td>
    </tr>

</table>
