// layout styling here


body {
  background: #1F172E;
  font-family: sans-serif;
  color: #849331;
}

.horizontal-list > li{
  padding: 20px;
  padding-bottom: 15px;
  font-family: sans-serif;
  color: #FF9900;
  display: inline-block;
  text-decoration: none;
}

td {
  padding: 10px;
}

a:link, a:visited {
  color: #FF9900;
  text-decoration: underline;
}

// header styling here

.header a{
  color: #FF9900;
  text-decoration: none;
}


.brand h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 45pt;
}

.brand > .logo{
  background-image: url('hops.png');
  background-repeat: no-repeat;
  height: 85px;
  width: 150px;
}

.nav {
  border-bottom: 3px solid #FF9900;
  float: right;
}

.nav li{
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  color: #FF9900;
  text-decoration: none;
}

.nav a:hover {
  color: #849331;
}


#login-box {
  float: right;
  display: inline-block;
  padding: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  opacity: 0;
}


// content styling here

.content-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
