// layout styling here


body {
  background: #df9542;
  font-family: sans-serif;
  color: #627021;
}

.horizontal-list > li{
  padding: 20px;
  padding-bottom: 15px;
  font-family: sans-serif;
  color: white;
  display: inline-block;
  text-decoration: none;
}

td {
  padding: 10px;
}

a:link, a:visited {
  color: #627021;
  text-decoration: underline;
}

// header styling here

.header a{
  color: white;
  text-decoration: none;
}


.brand h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 45pt;
}

.nav {
  border-bottom: 3px solid white;
  float: right;
}

.nav li{
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #627021;
}


#login-box {
  float: right;
  display: inline-block;
  padding: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}

.not-visible {
  visibility: hidden;
}

// content styling here

.content-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
